pandas
numpy
h5py
cython
tqdm
click
pillow
scipy
matplotlib
scikit-learn
pyqt5
nose
klusta
klustakwik2
jupyter
pyqtwebengine
phy
pyintan
pynwb
pyopenephys
spikeextractors
spiketoolkit
spikewidgets
spikesorters
spikecomparison
