pandas
numpy
h5py
cython
tqdm
click
pillow
scipy
matplotlib
seaborn
scikit-learn
pyqt5
nose
klusta
klustakwik2
jupyter
pyqtwebengine
phy
psutil
pyintan
pynwb
pyopenephys
neo
nwb_conversion_tools
spikeextractors
spiketoolkit
spikewidgets
spikesorters
spikecomparison
ml_ms4alg
openpyxl 
numba
tridesclous
